* {
    font-family: 'Lato', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(235,239,149,1) 0%, rgba(239,213,149,1) 51%, rgba(239,149,149,1) 100%); 
}

h1 {
    color: #fff;
}

.centering {
    text-align: center;
}

.the-title {
    border: 2px solid ;
    background-color: #D24545;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
    width: 250px;
    padding: 1rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

.the-image {
    display: flex;
    width: 500px;
    height: 300px;
    border-radius: 5%;
    margin: auto;
    max-inline-size: 100%;
    block-size: auto;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

a:active{
    color: palevioletred;
}


#the-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    text-align: center;

}

ul {
    list-style-type: none;
    margin: 1em 1em;
    padding: 0;
}

.menu-option1, .menu-option2, .menu-option3 {
    color: white;
    border: 2px solid ;
    background-color: #D24545;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
    width: 250px;
    padding: 1rem 1rem;
    margin: auto;
}


footer {
    color: white;
    text-align: center;
    margin: 15rem;
}