* {
    font-family: 'Lato', sans-serif;
}

body {
    background: rgb(235,239,149);
    background: linear-gradient(90deg, rgba(235,239,149,1) 0%, rgba(239,213,149,1) 51%, rgba(239,149,149,1) 100%); 
}

h1 {
    color: whitesmoke;
}

ul {
    list-style: none;
}

.the-title {
    border: 2px solid ;
    background-color: #D24545;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
    width: 250px;
    padding: 1em 1em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

a:active{
    color: palevioletred;
}

.the-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    border-radius: 5%;
}

.centering {
    margin-left: auto;
    margin-right: auto;
    max-inline-size: 100%;
    block-size: auto;
}

#the-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3em;
    align-items: center;
    text-align: center;
}

.menu-option1, .menu-option2, .menu-option3 {
    color: white;
    border: 2px solid ;
    background-color: #D24545;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
    width: 250px;
    padding: 1em 1em;

}


.copy {
    color: coral;
    text-align: center;
    margin-top: 15em;
    margin-left: auto;
    margin-right: auto;
}