* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #F1E4C3;
}

img {
    border-radius: 8px;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

.main-heading-box {
    border: 1px solid;
    background-color: #FA7070;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    width: fit-content;
    color: #EAECCC;
    padding: 10px 10px;
}

.the-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
}

.list-box {
    border: 2px solid ;
    background-color: #FF6868;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    width: 450px;
    color: #EAECCC;
    padding: 2em 2em;
}

.subheading-box {
    border: 2px solid ;
    background-color: #FFB996;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    width: fit-content;
    padding: 1em;
    color: #ffffff;
}

.centering {
    margin-left: auto;
    margin-right: auto;
    max-inline-size: 100%;
    block-size: auto;
}

footer {
    margin-top: 2%;
    margin-bottom: 2%;
}

a {
    text-decoration: none;
}

.home {
    border: 1px solid ;
    background-color: #402B3A;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    margin-top: 3rem;
    color: #EAECCC;
    padding: 1em 1em;
}
